/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Oswald', sans-serif;
  background: #EEEDED;
}

a{
	color: #00A493;
}

a:hover{
	color: #00A493;
}

.navbar-brand img{
	margin-top: -5px;
}

.navbar-brand *{
	color: white;
}

.jumbotron{
	height: 200px;
	overflow: hidden;
}

.jumbotron #details{
	position: absolute;
	color: white;
}

.jumbotron #details span{
	color: #00A493;
}

.jumbotron img{
	width: 100%;
}

section .widgets{
	margin-bottom: 20px;
}
.popular img{
	width: 100%;
	margin-top: 10px;
}
.popular{
	background: white;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #E3E3E3;
}

.popular .details{
	margin-left: -20px;
}

.popular .details p{
	font-size: 11px;
}

.popular ul li{
	list-style: none;
}

.post{
	background: white;
	border: 1px solid #E3E3E3; 
	margin: 15px 0px;
}

.post .post-date{
	padding: 20px;
	text-align: center;
}

.post .post-date .day{
	font-size: 30px;
	color: #00A894;
}

.post .post-date .year{
	font-weight: 100;
}

.post .post-title {
	padding: 5px 20px 20px 20px;
	border-left: 1px solid #E3E3E3; 
}
.post .post-title span{
	color: #00A894;
	font-weight: 100;
}

.post .profile-picture{
	padding: 20px;
}

.post .profile-picture img{
	width: 80%;
}

.post > a > img{
	width: 100%;
	margin-top: -25px;
}
footer {
	background: black;
	height: 50px;
	line-height: 50px;
	color: white;
	letter-spacing: 1px;
}